.idea
.vscode
node_modules
dist
out
.DS_Store
*.log*
.aider*
!.aider-desk
.aider-desk/sessions
.aider-desk/todos.json
.aider-desk/tmp
.junie*
.env
tsconfig.*.tsbuildinfo
.taskmaster

# uv binaries
resources/linux/uv*
resources/macos/uv*
resources/macos-x64/uv*
resources/macos-arm64/uv*
resources/win/uv*

dev-app-update.yml

# release scripts
release-win.sh
release-linux.sh
start-docker.sh

./session-*.md
.claude-trace
repomix-output.txt

