.idea
.vscode
node_modules
dist
out
.DS_Store
*.log*
.aider*
!.aider-desk
.aider-desk/sessions
.aider-desk/todos.json
.junie*
.env

# uv binaries
resources/linux/uv*
resources/macos/uv*
resources/win/uv*

dev-app-update.yml

# release scripts
release-win.sh
release-linux.sh
start-docker.sh
